- content_for :title do
  = "Garanta sua vaga no Primeiro encontro com o tango"
h3#lead_call_to_action= content_for :title
em#lead_instructions Informe seu nome, email e telefone abaixo, então clique no botão "Confirmar presença e garantir minha vaga". Depois fique de olho no seu email, pois iremos enviar instruções para o dia do encontro por lá.
= render partial: 'form', locals: {purchase_field: 'PURCHFIRST'}
