- content_for :facebook_standard_event do
  == "fbq('track', 'InitiateCheckout');"
- content_for :title do
  = "Quer garantir sua vaga no Tango do zero?"
h2#lead_call_to_action= content_for :title
h4 Reserva de vaga para <strong>#{l tango_from_zero_date, format: :text}</strong>
em#lead_instructions É só informar seu nome, email e telefone abaixo e depois clicar no botão "Garantir minha vaga".
= render partial: 'form', locals: {purchase_field: 'PURCHZERO', date_field: 'DATEZERO', date_value: tango_from_zero_date, conversion_value: tango_from_zero_price}
