- content_for :title do
  = "Fique sabendo dos próximos eventos no Ganas Tango Clube"
h3#lead_call_to_action Digite seu nome e email abaixo para ficar sabendo dos próximos eventos no Ganas Tango Clube
em#lead_instructions Informe seu nome e email abaixo, então clique no botão "Quero saber mais". Depois fique de olho no seu email, pois iremos enviar tudo que você precisa saber por lá.
= render 'layouts/form'
