- content_for :title do
  = "Fique sabendo dos próximos eventos no Ganas Tango Clube"
h3#lead_call_to_action Quer ficar sabendo dos próximos eventos no Ganas Tango Clube?
em#lead_instructions É só digitar seu nome e email abaixo e depois clicar no botão "Quero saber mais".
= render 'form'
