- content_for :title do
  = "Muito obrigado!"
- content_for :description do
  = "Agora é só ficar de olho no seu email, pois vamos enviar tudo que você precisa saber por lá."
- content_for :external_js do
  = render partial: 'facebook_conversion', locals: {conversion_value: params[:conversion_value] || 0.00}
h2= content_for :title
p= content_for :description
p Importante: às vezes nossos emails podem cair na sua caixa de <em>SPAM</em>, ou de <em>Promoções</em>. Caso você não encontre nosso email nos próximos minutos, verifique se não está em uma destas caixas.
p Qualquer dúvida que você tiver, é só ligar para 51 9904-3244, escrever para #{ mail_to 'contato@ganas.com.br' } ou entrar em contato pela nossa <a href="https://www.facebook.com/ganastangoclube" target="_blank">página no Facebook</a>.
p Até breve!
